<!-- <p>product-list works!</p> -->
<div class="container mb-3">
    <div class="row" id="searchRow">
        <div class="my-1 col-4 col-md-3 col-lg-2 d-flex align-items-center justify-content-end">
            <span class="h6 mb-0">Keresés itt:</span>
        </div>
        <div class="my-1 col-8 col-md-3 col-lg-2">
            <div class="dropdown">
                <button class="btn btn-secondary dropdown-toggle w-100" type="button" id="dropdownMenuButton"
                    data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    {{ selectedKeyForSearch }}
                </button>
                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                    <a *ngFor="let key of keys" class="dropdown-item" [routerLink]=""
                        (click)="selectKeyForSearch(key)">{{
                        key }}</a>
                </div>
            </div>
        </div>
        <div class="mb-2 mt-1 col-12 col-md-6 col-lg-4">
            <input class="form-control mr-sm-2" type="text" placeholder="Search" (keyup)="onChangePhrase($event)">
        </div>


        <div class="my-1 col-4 col-md-8 col-lg-1 d-flex align-items-center  justify-content-end">
            <span class="h6 mb-0">Rendezés:</span>
        </div>
        <div class="my-1 col-5 col-md-3 col-lg-2">
            <div class="dropdown">
                <button class="btn btn-secondary dropdown-toggle w-100" type="button" id="dropdownMenuButton-sort"
                    data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    {{ sortKey }}
                </button>
                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton-sort">
                    <a *ngFor="let key of keys" class="dropdown-item" [routerLink]=""
                        (click)="selectColumnForSort(key)">{{ key }}</a>
                </div>
            </div>
        </div>
        <div class="my-1 col-3 col-md-1 col-lg-1">
            <a [routerLink]="" (click)="changeSortAscend()"><i class="fa fa-arrow-{{ sortAscend?'up':'down' }} fa-2x"
                    aria-hidden="true"></i>
            </a>
        </div>
    </div>
</div>
<div class="d-flex flex-column mt-3">
    <div class="container-fluid">
        <div class="row">
            <div class="col-12 col-md-6 col-lg-2 mx-auto mw-100 p-0 ml-lg-1 overflow-hidden"
                *ngFor="let product of products | filter:phrase:selectedKeyForSearch | sorter:sortKey:sortAscend">
                <app-product-card [product]="product"></app-product-card>
            </div>
        </div>
    </div>
</div>