<!-- <p>product-list works!</p> -->
<div class="container mb-3">
    <div class="row" id="searchRow">
        <div class="col-2">
            <p>Keresés itt:</p>
        </div>
        <div class="col-2">
            <div class="dropdown">
                <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton"
                    data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    {{ selectedKeyForSearch }}
                </button>
                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                    <a *ngFor="let key of keys" class="dropdown-item" [routerLink]=""
                        (click)="selectKeyForSearch(key)">{{
                        key }}</a>
                </div>
            </div>
        </div>
        <div class="col-4">
            <input class="form-control mr-sm-2" type="text" placeholder="Search" (keyup)="onChangePhrase($event)">
        </div>
        <div class="col-1">
            <p>Rendezés:</p>
        </div>
        <div class="col-2">
            <div class="dropdown">
                <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton-sort"
                    data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    {{ sortKey }}
                </button>
                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton-sort">
                    <a *ngFor="let key of keys" class="dropdown-item" [routerLink]=""
                        (click)="selectColumnForSort(key)">{{ key }}</a>
                </div>
            </div>
        </div>
        <div class="col-1">
            <a [routerLink]="" (click)="changeSortAscend()"><i class="fa fa-arrow-{{ sortAscend?'up':'down' }} fa-2x"
                    aria-hidden="true"></i>
            </a>
        </div>
        <div class="col-8">
        </div>
    </div>
</div>
<div class="d-flex flex-column mt-3">
    <div class="container-fluid">
        <div class="row">
            <div class="col-12 col-md-6 col-lg-2 offset-lg-2 mw-100 p-0 ml-lg-1 overflow-hidden"
                *ngFor="let product of products | filter:phrase:selectedKeyForSearch | sorter:sortKey:sortAscend">
                <app-product-card [product]="product"></app-product-card>
            </div>
        </div>
    </div>
</div>