<div class="card-container h-100 d-flex">
  <div class="card">
    <img src="assets/img/boritok/{{ category }}/{{ product.image }}" class="card-img-top"
      alt="A film borítóképe: {{ product.name }}">
    <div class="card-body">
      <h5 class="card-title">{{ product.name }}</h5>
      <p class="card-text mt-auto">Leírás: {{ product.description }}</p>
    </div>
    <ul class="list-group list-group-flush">
      <li class="list-group-item">Készlet: {{ product.stock }} darab</li>
      <li class="list-group-item" [class.discount]="product.discount">Ár: {{ product.price }} Ft</li>
    </ul>
    <!--     
    <div class="card-body">
      <a href="#" class="card-link">Card link</a>
      <a href="#" class="card-link">Another link</a>
    </div>
 -->
  </div>
</div>