<div class="container">
    <div class="row">
        <div class="col-12">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th *ngFor="let col of cols">{{ col.text }}</th>
                    </tr>
                </thead>
                <tbody>
                    <tr
                        *ngFor="let product of products | filter:filter.phrase:filter.selectedKeyForSearch:filter.phrase2 | sorter:sorter.sortKey:sorter.sortAscend">
                        <td *ngFor=" let col of cols">
                            <input *ngIf="col.editable" [(ngModel)]="product[col.key]" type="text" class="form-control">
                            <span *ngIf="!col.editable"> {{product[col.key]}}</span>
                        </td>
                        <td>
                            <div class="btn-group">
                                <button class="btn btn-success" (click)="onCreate(product)">
                                    <i class="fa fa-plus"></i>
                                </button>
                                <button class="btn btn-info" (click)="onUpdate(product)">
                                    <i class="fa fa-refresh"></i>
                                </button>
                                <button class="btn btn-danger" (click)="onDelete(product)">
                                    <i class="fa fa-trash"></i>
                                </button>
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>