<h3 class="mt-5">Popular movies</h3>
<app-product-pager [products]="featuredProductsObservable | async "></app-product-pager>

<h3 class="mt-5">Discount movies</h3>
<app-product-pager [products]="discountProductsObservable | async "></app-product-pager>

<h3 class="mt-5">Movies</h3>

<app-searcbar [(filter)]="filter" [(sorter)]="sorter" [usedFilterType]="'search'" [usedSortType]="'order'"></app-searcbar>

<app-product-list [products]="productsObservable | async" [filter]="filter" [sorter]="sorter"></app-product-list>