<div class="container mb-3">
    <div class="row" id="searchRow">
        <div class="my-1 col-4 col-md-3 col-lg-2 d-flex align-items-center justify-content-end">
            <span class="h6 mb-0">Search:</span>
        </div>
        <div class="my-1 col-8 col-md-3 col-lg-2">
            <div class="dropdown">
                <button class="btn btn-secondary dropdown-toggle w-100" type="button" id="dropdownMenuButton"
                    data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    {{ filter.selectedKeyForSearch }}
                </button>
                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                    <a *ngFor="let key of keys| productPropertyFilter:usedFilterType" class="dropdown-item" [routerLink]=""
                        (click)="selectKeyForSearch(key);filterName.value = '';from.value = '';to.value = ''
                        ">{{
                        key }}</a>
                </div>
            </div>
        </div>
        <div class="mb-2 mt-1 col-12 col-md-6 col-lg-4 {{filter.selectedKeyForSearch==='price'?'hide':''}}">
            <input class="form-control mr-sm-2" #filterName type="text" placeholder="Search"
                (keyup)="onChangePhrase($event)">
        </div>
        <div class="mb-2 mt-1 col-6 col-md-3 col-lg-2 {{filter.selectedKeyForSearch==='price'?'':'hide'}}">
            <input class="form-control mr-sm-2" #from type="text" placeholder="From" (keyup)="onChangePhrase($event)">
        </div>
        <div class="mb-2 mt-1 col-6 col-md-3 col-lg-2 {{filter.selectedKeyForSearch==='price'?'':'hide'}}">
            <input class="form-control mr-sm-2" #to type="text" placeholder="To" (keyup)="onChangePhrase2($event)">
        </div>


        <div class="my-1 col-4 col-md-8 col-lg-1 d-flex align-items-center  justify-content-end">
            <span class="h6 mb-0">Order:</span>
        </div>
        <div class="my-1 col-6 col-md-3 col-lg-2">
            <div class="dropdown">
                <button class="btn btn-secondary dropdown-toggle w-100" type="button" id="dropdownMenuButton-sort"
                    data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    {{ sorter.sortKey }}
                </button>
                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton-sort">
                    <a *ngFor="let key of keys | productPropertyFilter:usedSortType" class="dropdown-item" [routerLink]=""
                        (click)="selectColumnForSort(key)">{{ key }}</a>
                </div>
            </div>
        </div>
        <div class="my-1 col-2 col-md-1 col-lg-1">
            <a [routerLink]="" (click)="changeSortAscend()"><i
                    class="fa fa-arrow-{{ sorter.sortAscend?'up':'down' }} fa-2x" aria-hidden="true"></i>
            </a>
        </div>
    </div>
</div>